---
title: Editionen
---

<table>

<tr>
  <th>
    Titel
  </th>
  <th>
    Opus
  </th>
  <th>
    IMSLP Projekt
  </th>
  <th>
    IMSLP Datei
  </th>
  <th>
    Wikicommon Datei
  </th>
</tr>

{% for composition in site.compositions %}

<tr>
  <td>
    <a href="{{ site.baseurl }}{{ composition.url }}">{{ composition.title }}</a>
  </td>
  <td>
    {{ composition.opus }}
  </td>
  <td>
    {% include imslp_project.html link=composition.imslp_project text="Link" %}
  </td>
  <td>
    {% include imslp_file.html link=composition.imslp_file text="Link" %}
  </td>
  <td>
    {% include wikicommon_file.html link=composition.wikicommon_file text="Link" %}
  </td>
</tr>

{% endfor %}
<table>

