---
layout: site
---
<h1>{{ page.title }}</h1>

<div class="row">
<div class="6u 8u(tablet) 12u(mobile)">
{% if page.subtitle %}
Untertitel: {{ page.subtitle }} <br>
{% endif %}

{% if page.instrumentation %}
Besetzung: {{ page.instrumentation }} <br>
{% endif %}

{% include imslp_project.html link=page.imslp_project text="IMSLP-Projekt-Seite" suffix="<br>" %}

{% include imslp_file.html link=page.imslp_file text="IMSLP-PDF" suffix="<br>" %}

{% include wikicommon_file.html link=page.wikicommon_file text="Wiki-Common-PDF" suffix="<br>" %}

{{ content }}

</div>
<div class="6u 4u(tablet) 12u(mobile)">
  <a href="{{ site.baseurl }}/compositions/{{ page.short }}/manuscript.pdf">
    <img class="score" src="{{ site.baseurl }}/compositions/{{ page.short }}/preview_width600.png">
  </a>
</div>
</div>