---
layout: site
---

{% capture path %}{{ site.baseurl }}/compositions/{{ page.short }}{% endcapture %}

<h2>{{ page.title }}</h2>

<div class="row">
<div class="6u 8u(tablet) 12u(mobile)">

{% if page.subtitle %}
  <strong>Untertitel:</strong> {{ page.subtitle }} <br>
{% endif %}

{% if page.instrumentation %}
  <strong>Besetzung:</strong> {{ page.instrumentation }} <br>
{% endif %}

{% include imslp_project.html link=page.imslp_project text="IMSLP-Projekt-Seite" suffix="<br>" %}

{% include imslp_file.html link=page.imslp_file text="IMSLP-PDF" suffix="<br>" %}

{% include wikicommon_file.html link=page.wikicommon_file text="Wiki-Common-PDF" suffix="<br>" %}

{% if page.pieces %}
<h3>Die einzelnen Sätze</h3>

<!-- pieces -->

<ol class="default">
{% for item in page.pieces %}
  <li>
    {{ item.title }}
    {% if item.key %}[{{ item.key }}]{% endif %}
    {% if item.lyricist %}({{ item.lyricist }}){% endif %}
  </li>
{% endfor %}
<ol>
{% endif %}

<!-- youtube -->

{% if page.youtube %}
  {% for item in page.youtube %}
    <h3>{{ item.title }} ({{ item.artist }})</h3>
    <iframe width="480" height="360" src="https://www.youtube.com/embed/{{ item.url }}" frameborder="0" allowfullscreen> </iframe>
  {% endfor %}
{% endif %}

<!-- edition_score -->

{% if page.edition %}
  <h2>Editionen</h2>
  {% for item in page.edition %}
    {% if item.score %}
      <a href="{{ path }}/{{ item.score }}">{{ item.score }}</a>
    {% endif %}
    {% if item.pdf %}
      <a href="{{ path }}/{{ item.pdf }}">{{ item.pdf }}</a>
    {% endif %}
  {% endfor %}
{% endif %}

{{ content }}

</div>
<div class="6u 4u(tablet) 12u(mobile)">
  <a href="{{ path }}/manuscript.pdf">
    <img class="score" src="{{ path }}/preview_width600.png">
  </a>
</div>
</div>