---
layout: site
---
<h1>{{ page.title }}</h1>

{% if page.subtitle %}
Untertitel: {{ page.subtitle }} <br>
{% endif %}

{% if page.instrumentation %}
Besetzung: {{ page.instrumentation }} <br>
{% endif %}

{% if page.imslp_project %}
<a href="http://imslp.org/wiki/{{ page.imslp_project }}">IMSLP-Projekt-Seite</a> <br>
{% endif %}

{% if page.imslp_file %}
<a href="http://imslp.org/wiki/File:{{ page.imslp_file }}">IMSLP-PDF</a> <br>
{% endif %}

{% if page.wikicommon_file %}
<a href="https://commons.wikimedia.org/wiki/File:{{ page.wikicommon_file }}">Wiki-Common-PDF</a> <br>
{% endif %}

{{ content }}

<img src="{{ site.baseurl }}/compositions/{{ page.file }}_width600.png">
