<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[Ernst Fuchs-Schönbach - {{ page.title }}]</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="wrapper">
    <div class="Navigationsleiste">
        <a href="index.html" title="zur Startseite" class="quad380leftactive"></a>
        <a href="leben.html" title="zum Leben" class="quad190topleft"></a>
        <a href="werk.html" title="zum Werk" class="quad190topright"></a>
        <a href="fotos.html" title="zu den Fotos" class="quad190bottomleft"></a>
        <a href="dokumente.html" title="zu den Dokumenten" class="quad190bottomright"></a>
        
    </div>
    
  <div class="content">
    
	  {{ content }}

  </div>
<div class="fussleiste">
        <a class="quadkontakt" href="kontakt.html">Kontakt</a>
        <a class="quadimpressum" href="impressum.html">Impressum</a>
        <a class="quadcopyright" href="mailto:josef@friedrich.rocks">&copy; 2015 Webdesign Friedrich</a>
   </div>

</div>
</body>
</html>
