---
layout: site
---
<h1>{{ page.title }}</h1>

<p>{{ page.description }}</p>

<p>
  <a href="{{ site.baseurl }}/photos/{{ page.id }}.jpg">
    Volle Auflösung: herunterladen
  </a>
</p>

{% if page.wikicommon_file %}
<p>
  Wikicommons:
  <a href="https://commons.wikimedia.org/wiki/File:{{ page.wikicommon_file }}">
    Das Foto auf Wikicommons
  </a>
</p>
{% endif %}

{% if page.wikicommon_file %}
<a href="https://commons.wikimedia.org/wiki/File:{{ page.wikicommon_file }}">Wiki-Common-PDF</a> <br>
{% endif %}

<a href="{{ site.baseurl }}/photos/{{ page.id }}.jpg">
  <img src="{{ site.baseurl }}/photos/{{ page.id }}_width600.jpg">
</a>
{{ content }}
