---
layout: bare
---
<head>
<meta charset="UTF-8" />
<title>[Ernst Fuchs-Schönbach - {{ page.title }}]</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="/css/style.css" rel="stylesheet" type="text/css" />
{% if page.css %}
<link href="/css/{{ page.css }}.css" rel="stylesheet" type="text/css" />
{% endif %}
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="wrapper">
  <header>
  {% include top_nav.html %}
  </header>

  <main>
  {{ content }}
  </main>

  <footer>
  {% include bottom_nav.html %}
  </footer>
</div>
</body>
